.tabla {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tabla th {
    background-color: #030a39; 
    color: rgb(247, 232, 232); 
    padding: 8px;
}

.tabla td {
    padding: 4px;
    border: 1px solid #000000; 
    color: #000000; 
    font-size: 14px;
}

.boton-editar {
    color: white; 
    background-color: rgb(4, 10, 198); 
    padding: 5px 10px; 
    text-decoration: none; 
    border-radius: 5px; 
  }

  .boton-editar:hover {
    background-color: rgb(1, 2, 84); 
  }

  .boton-eliminar {
    color: white;
    background-color: rgb(165, 4, 4);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }

  .boton-eliminar:hover {
    background-color: rgb(86, 3, 3);
  }
